# Bayesian Association Rule Mining Algorithm

<h4> 1 - Importing the required libraries

In [1]:
!pip install pgmpy

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pgmpy
  Downloading pgmpy-0.1.21-py3-none-any.whl (1.9 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.9/1.9 MB 20.2 MB/s eta 0:00:00
Requirement already satisfied: scipy in /usr/local/lib/python3.8/dist-packages (from pgmpy) (1.7.3)
Requirement already satisfied: pandas in /usr/local/lib/python3.8/dist-packages (from pgmpy) (1.3.5)
Requirement already satisfied: torch in /usr/local/lib/python3.8/dist-packages (from pgmpy) (1.13.1+cu116)
Requirement already satisfied: networkx in /usr/local/lib/python3.8/dist-packages (from pgmpy) (3.0)
Requirement already satisfied: tqdm in /usr/local/lib/python3.8/dist-packages (from pgmpy) (4.64.1)
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.8/dist-packages (from pgmpy) (1.0.2)
Requirement already satisfied: numpy in /usr/local/lib/python3.8/dist-packages (from pgmpy) (1.21.6)
Requirement already satisfied: pyparsing in /usr/local/lib/python3.8/dist-packages (from pgmpy) (3.0.9)
Requirement already satisfied: statsmodels in /usr/local/lib/python3.8/dist-packages (from pgmpy) (0.12.2)
Requirement already satisfied: opt-einsum in /usr/local/lib/python3.8/dist-packages (from pgmpy) (3.3.0)
Requirement already satisfied: joblib in /usr/local/lib/python3.8/dist-packages (from pgmpy) (1.2.0)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.8/dist-packages (from pandas->pgmpy) (2022.7)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.8/dist-packages (from pandas->pgmpy) (2.8.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.8/dist-packages (from scikit-learn->pgmpy) (3.1.0)
Requirement already satisfied: patsy>=0.5 in /usr/local/lib/python3.8/dist-packages (from statsmodels->pgmpy) (0.5.3)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.8/dist-packages (from torch->pgmpy) (4.4.0)
Requirement already satisfied: six in /usr/local/lib/python3.8/dist-packages (from patsy>=0.5->statsmodels->pgmpy) (1.15.0)
Installing collected packages: pgmpy
Successfully installed pgmpy-0.1.21

In [2]:
import numpy as np
import pandas as pd
import os 
from tqdm import tqdm
from mlxtend.frequent_patterns import apriori, association_rules
from pgmpy.models import BayesianNetwork
import io

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

<h4>2- Loading and exploring the data

In [4]:
data = pd.read_csv("/content/drive/MyDrive/FDS_proj/Online_Retail_csv.csv",encoding= 'unicode_escape')
data

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,01-12-2010 8.26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,01-12-2010 8.26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,01-12-2010 8.26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,01-12-2010 8.26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,01-12-2010 8.26,3.39,17850.0,United Kingdom
...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,09-12-2011 12.50,0.85,12680.0,France
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,09-12-2011 12.50,2.10,12680.0,France
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,09-12-2011 12.50,4.15,12680.0,France
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,09-12-2011 12.50,4.15,12680.0,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,09-12-2011 12.50,4.95,12680.0,France

We've successfully transfered the "Online Retail" dataset to a pandas DataFrame. Let's now analyse the dataset further:

In [5]:
data.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,01-12-2010 8.26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,01-12-2010 8.26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,01-12-2010 8.26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,01-12-2010 8.26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,01-12-2010 8.26,3.39,17850.0,United Kingdom

In [6]:
data.columns

Index(['InvoiceNo', 'StockCode', 'Description', 'Quantity', 'InvoiceDate',
       'UnitPrice', 'CustomerID', 'Country'],
      dtype='object')

Our dataset has entries about numerous countries:

In [7]:
data.Country.unique()

array(['United Kingdom', 'France', 'Australia', 'Netherlands', 'Germany',
       'Norway', 'EIRE', 'Switzerland', 'Spain', 'Poland', 'Portugal',
       'Italy', 'Belgium', 'Lithuania', 'Japan', 'Iceland',
       'Channel Islands', 'Denmark', 'Cyprus', 'Sweden', 'Austria',
       'Israel', 'Finland', 'Bahrain', 'Greece', 'Hong Kong', 'Singapore',
       'Lebanon', 'United Arab Emirates', 'Saudi Arabia',
       'Czech Republic', 'Canada', 'Unspecified', 'Brazil', 'USA',
       'European Community', 'Malta', 'RSA'], dtype=object)

 <h4>3- Cleaning the Data

We clean the dataset by removing unnecessary characters and incomplete rows:

In [8]:

data['Description'] = data['Description'].str.strip()
  
# Removing rows with no invoice number
data.dropna(axis = 0, subset =['InvoiceNo'], inplace = True)
data['InvoiceNo'] = data['InvoiceNo'].astype('str')
  
# Removing credit transactions
data = data[~data['InvoiceNo'].str.contains('C')]

<h4>4- Choosing a specific region for our demonstration

We've selected France to demonstrate our Bayesian Network. We create a table containing data about transactions of France:

In [9]:
basket_France = (data[data['Country'] =="France"]
          .groupby(['InvoiceNo', 'Description'])['Quantity']
          .sum().unstack().reset_index().fillna(0)
          .set_index('InvoiceNo'))
basket_France

Description,10 COLOUR SPACEBOY PEN,12 COLOURED PARTY BALLOONS,12 EGG HOUSE PAINTED WOOD,12 MESSAGE CARDS WITH ENVELOPES,12 PENCIL SMALL TUBE WOODLAND,12 PENCILS SMALL TUBE RED RETROSPOT,12 PENCILS SMALL TUBE SKULL,12 PENCILS TALL TUBE POSY,12 PENCILS TALL TUBE RED RETROSPOT,12 PENCILS TALL TUBE WOODLAND,...,WRAP VINTAGE PETALS DESIGN,YELLOW COAT RACK PARIS FASHION,YELLOW GIANT GARDEN THERMOMETER,YELLOW SHARK HELICOPTER,ZINC STAR T-LIGHT HOLDER,ZINC FOLKART SLEIGH BELLS,ZINC HERB GARDEN CONTAINER,ZINC METAL HEART DECORATION,ZINC T-LIGHT HOLDER STAR LARGE,ZINC T-LIGHT HOLDER STARS SMALL
InvoiceNo,,,,,,,,,,,,,,,,,,,,,
536370,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
536852,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
536974,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
537065,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
537463,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
580986,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
581001,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
581171,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
581279,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
581587,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

<h4>5- Converting integer values to boolean

For association rules, it is important to know if an event has occurred. However, in the same transaction it doesn't matter if the same item was bought at a quantity of 1000 or at a quantity of 1. All that matters is it was bought. 

Thus, we convert any non zero integers to a true boolean value (the integer 1).

In [10]:
# Defining the hot encoding function to make the data suitable 
# for the concerned libraries
def int_to_bool(x):
    if(x<= 0):
        return 0
    if(x>= 1):
        return 1
  
# Encoding the datasets
basket_encoded = basket_France.applymap(int_to_bool)
basket_France = basket_encoded



<h4> 6- Building apriori association rules

We now use an apriori algorithm to create the association rules based on our dataset:

In [11]:
# Building the model
frq_items = apriori(basket_France, min_support = 0.05, use_colnames = True)
  
# Collecting the inferred rules in a dataframe
rules = association_rules(frq_items, metric ="lift", min_threshold = 1)
rules = rules.sort_values(['confidence', 'lift'], ascending =[False, False])

In [12]:
rules.head()

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
45,(JUMBO BAG WOODLAND ANIMALS),(POSTAGE),0.076531,0.765306,0.076531,1.000,1.306667,0.017961,inf
260,"(RED TOADSTOOL LED NIGHT LIGHT, PLASTERS IN TI...",(POSTAGE),0.051020,0.765306,0.051020,1.000,1.306667,0.011974,inf
272,"(RED TOADSTOOL LED NIGHT LIGHT, PLASTERS IN TI...",(POSTAGE),0.053571,0.765306,0.053571,1.000,1.306667,0.012573,inf
302,"(SET/6 RED SPOTTY PAPER CUPS, SET/20 RED RETRO...",(SET/6 RED SPOTTY PAPER PLATES),0.102041,0.127551,0.099490,0.975,7.644000,0.086474,34.897959
301,"(SET/6 RED SPOTTY PAPER PLATES, SET/20 RED RET...",(SET/6 RED SPOTTY PAPER CUPS),0.102041,0.137755,0.099490,0.975,7.077778,0.085433,34.489796

We see that we have acquired many association rules. Consider #302 as an example: This rule says that buying paper plates (red) -> buying paper cups. Logically this makes sense as we expect someone buying paper plates (say, for a party) to also buy paper cups along with it.

Varius values like confidence, support, lift for the apriori rules are also given in the table. We show a table below, that only focuses on the rule itself:

In [13]:
rules[['antecedents', 'consequents',]]

,antecedents,consequents
45,(JUMBO BAG WOODLAND ANIMALS),(POSTAGE)
260,"(RED TOADSTOOL LED NIGHT LIGHT, PLASTERS IN TI...",(POSTAGE)
272,"(RED TOADSTOOL LED NIGHT LIGHT, PLASTERS IN TI...",(POSTAGE)
302,"(SET/6 RED SPOTTY PAPER CUPS, SET/20 RED RETRO...",(SET/6 RED SPOTTY PAPER PLATES)
301,"(SET/6 RED SPOTTY PAPER PLATES, SET/20 RED RET...",(SET/6 RED SPOTTY PAPER CUPS)
...,...,...
36,(POSTAGE),(JAM MAKING SET PRINTED)
27,(POSTAGE),(CIRCUS PARADE CHILDRENS EGG CUP)
97,(POSTAGE),(PARTY BUNTING)
226,(POSTAGE),"(LUNCH BAG RED RETROSPOT, LUNCH BAG WOODLAND)"
213,(POSTAGE),"(LUNCH BAG APPLE DESIGN, LUNCH BAG SPACEBOY DE..."

**Creating a Bayesian Network for every Apriori rule**

In [14]:
#extracting important columns as lists 
ant = rules['antecedents'].tolist()
con = rules['consequents'].tolist()
ant_supports = rules['antecedent support'].to_list()
con_supports = rules['consequent support'].to_list()

#storing the association rules as tuples in an array:
atob = []
for i in range(len(ant)):
  a = list(ant[i])
  b = list(con[i])
  el = [a,b]
  atob.append(el)

In [15]:
#The list that stores all the bayesian networks
networks = []


for rule in atob:
  a = rule[0]
  b = rule[1]

  edges = []
  for itema in a:
    for itemb in b:
      edges.append((itema,itemb))
      #adding an edge from itema to itemb

  #creating the network for the given rule
  #and appending it to the 'networks' array
  networks.append(BayesianNetwork(edges))



#Training the CPDS for each node
i = 0
for n in networks:
  n.fit(basket_France)
  print("Network " + str(i) + " is being initialised")
  i+=1

Network 0 is being initialised
Network 1 is being initialised
Network 2 is being initialised
Network 3 is being initialised
Network 4 is being initialised
Network 5 is being initialised
Network 6 is being initialised
Network 7 is being initialised
Network 8 is being initialised
Network 9 is being initialised
Network 10 is being initialised
Network 11 is being initialised
Network 12 is being initialised
Network 13 is being initialised
Network 14 is being initialised
Network 15 is being initialised
Network 16 is being initialised
Network 17 is being initialised
Network 18 is being initialised
Network 19 is being initialised
Network 20 is being initialised
Network 21 is being initialised
Network 22 is being initialised
Network 23 is being initialised
Network 24 is being initialised
Network 25 is being initialised
Network 26 is being initialised
Network 27 is being initialised
Network 28 is being initialised
Network 29 is being initialised
Network 30 is being initialised
Network 31 is being initialised
Network 32 is being initialised
Network 33 is being initialised
Network 34 is being initialised
Network 35 is being initialised
Network 36 is being initialised
Network 37 is being initialised
Network 38 is being initialised
Network 39 is being initialised
Network 40 is being initialised
Network 41 is being initialised
Network 42 is being initialised
Network 43 is being initialised
Network 44 is being initialised
Network 45 is being initialised
Network 46 is being initialised
Network 47 is being initialised
Network 48 is being initialised
Network 49 is being initialised
Network 50 is being initialised
Network 51 is being initialised
Network 52 is being initialised
Network 53 is being initialised
Network 54 is being initialised
Network 55 is being initialised
Network 56 is being initialised
Network 57 is being initialised
Network 58 is being initialised
Network 59 is being initialised
Network 60 is being initialised
Network 61 is being initialised
Network 62 is being initialised
Network 63 is being initialised
Network 64 is being initialised
Network 65 is being initialised
Network 66 is being initialised
Network 67 is being initialised
Network 68 is being initialised
Network 69 is being initialised
Network 70 is being initialised
Network 71 is being initialised
Network 72 is being initialised
Network 73 is being initialised
Network 74 is being initialised
Network 75 is being initialised
Network 76 is being initialised
Network 77 is being initialised
Network 78 is being initialised
Network 79 is being initialised
Network 80 is being initialised
Network 81 is being initialised
Network 82 is being initialised
Network 83 is being initialised
Network 84 is being initialised
Network 85 is being initialised
Network 86 is being initialised
Network 87 is being initialised
Network 88 is being initialised
Network 89 is being initialised

/usr/local/lib/python3.8/dist-packages/pgmpy/factors/discrete/CPD.py:332: RuntimeWarning: invalid value encountered in true_divide
  tabular_cpd.values = (cpd / cpd.sum(axis=0)).reshape(tabular_cpd.cardinality)

Network 90 is being initialised
Network 91 is being initialised
Network 92 is being initialised
Network 93 is being initialised
Network 94 is being initialised
Network 95 is being initialised
Network 96 is being initialised
Network 97 is being initialised
Network 98 is being initialised
Network 99 is being initialised
Network 100 is being initialised
Network 101 is being initialised
Network 102 is being initialised
Network 103 is being initialised
Network 104 is being initialised
Network 105 is being initialised
Network 106 is being initialised
Network 107 is being initialised
Network 108 is being initialised
Network 109 is being initialised
Network 110 is being initialised
Network 111 is being initialised
Network 112 is being initialised
Network 113 is being initialised
Network 114 is being initialised
Network 115 is being initialised
Network 116 is being initialised
Network 117 is being initialised
Network 118 is being initialised
Network 119 is being initialised
Network 120 is being initialised
Network 121 is being initialised
Network 122 is being initialised
Network 123 is being initialised
Network 124 is being initialised
Network 125 is being initialised
Network 126 is being initialised
Network 127 is being initialised
Network 128 is being initialised
Network 129 is being initialised
Network 130 is being initialised
Network 131 is being initialised
Network 132 is being initialised
Network 133 is being initialised
Network 134 is being initialised
Network 135 is being initialised
Network 136 is being initialised
Network 137 is being initialised
Network 138 is being initialised
Network 139 is being initialised
Network 140 is being initialised
Network 141 is being initialised
Network 142 is being initialised
Network 143 is being initialised
Network 144 is being initialised
Network 145 is being initialised
Network 146 is being initialised
Network 147 is being initialised
Network 148 is being initialised
Network 149 is being initialised
Network 150 is being initialised
Network 151 is being initialised
Network 152 is being initialised
Network 153 is being initialised
Network 154 is being initialised
Network 155 is being initialised
Network 156 is being initialised
Network 157 is being initialised
Network 158 is being initialised
Network 159 is being initialised
Network 160 is being initialised
Network 161 is being initialised
Network 162 is being initialised
Network 163 is being initialised
Network 164 is being initialised
Network 165 is being initialised
Network 166 is being initialised
Network 167 is being initialised
Network 168 is being initialised
Network 169 is being initialised
Network 170 is being initialised
Network 171 is being initialised
Network 172 is being initialised
Network 173 is being initialised
Network 174 is being initialised
Network 175 is being initialised
Network 176 is being initialised
Network 177 is being initialised
Network 178 is being initialised
Network 179 is being initialised
Network 180 is being initialised
Network 181 is being initialised
Network 182 is being initialised
Network 183 is being initialised
Network 184 is being initialised
Network 185 is being initialised
Network 186 is being initialised
Network 187 is being initialised
Network 188 is being initialised
Network 189 is being initialised
Network 190 is being initialised
Network 191 is being initialised
Network 192 is being initialised
Network 193 is being initialised
Network 194 is being initialised
Network 195 is being initialised
Network 196 is being initialised
Network 197 is being initialised
Network 198 is being initialised
Network 199 is being initialised
Network 200 is being initialised
Network 201 is being initialised
Network 202 is being initialised
Network 203 is being initialised
Network 204 is being initialised
Network 205 is being initialised
Network 206 is being initialised
Network 207 is being initialised
Network 208 is being initialised
Network 209 is being initialised
Network 210 is being initialised
Network 211 is being initialised
Network 212 is being initialised
Network 213 is being initialised
Network 214 is being initialised
Network 215 is being initialised
Network 216 is being initialised
Network 217 is being initialised
Network 218 is being initialised
Network 219 is being initialised
Network 220 is being initialised
Network 221 is being initialised
Network 222 is being initialised
Network 223 is being initialised
Network 224 is being initialised
Network 225 is being initialised
Network 226 is being initialised
Network 227 is being initialised
Network 228 is being initialised
Network 229 is being initialised
Network 230 is being initialised
Network 231 is being initialised
Network 232 is being initialised
Network 233 is being initialised
Network 234 is being initialised
Network 235 is being initialised
Network 236 is being initialised
Network 237 is being initialised
Network 238 is being initialised
Network 239 is being initialised
Network 240 is being initialised
Network 241 is being initialised
Network 242 is being initialised
Network 243 is being initialised
Network 244 is being initialised
Network 245 is being initialised
Network 246 is being initialised
Network 247 is being initialised
Network 248 is being initialised
Network 249 is being initialised
Network 250 is being initialised
Network 251 is being initialised
Network 252 is being initialised
Network 253 is being initialised
Network 254 is being initialised
Network 255 is being initialised
Network 256 is being initialised
Network 257 is being initialised
Network 258 is being initialised
Network 259 is being initialised
Network 260 is being initialised
Network 261 is being initialised
Network 262 is being initialised
Network 263 is being initialised
Network 264 is being initialised
Network 265 is being initialised
Network 266 is being initialised
Network 267 is being initialised
Network 268 is being initialised
Network 269 is being initialised
Network 270 is being initialised
Network 271 is being initialised
Network 272 is being initialised
Network 273 is being initialised
Network 274 is being initialised
Network 275 is being initialised
Network 276 is being initialised
Network 277 is being initialised
Network 278 is being initialised
Network 279 is being initialised
Network 280 is being initialised
Network 281 is being initialised
Network 282 is being initialised
Network 283 is being initialised
Network 284 is being initialised
Network 285 is being initialised
Network 286 is being initialised
Network 287 is being initialised
Network 288 is being initialised
Network 289 is being initialised
Network 290 is being initialised
Network 291 is being initialised
Network 292 is being initialised
Network 293 is being initialised
Network 294 is being initialised
Network 295 is being initialised
Network 296 is being initialised
Network 297 is being initialised
Network 298 is being initialised
Network 299 is being initialised
Network 300 is being initialised
Network 301 is being initialised
Network 302 is being initialised
Network 303 is being initialised
Network 304 is being initialised
Network 305 is being initialised
Network 306 is being initialised
Network 307 is being initialised
Network 308 is being initialised
Network 309 is being initialised
Network 310 is being initialised
Network 311 is being initialised
Network 312 is being initialised
Network 313 is being initialised
Network 314 is being initialised
Network 315 is being initialised
Network 316 is being initialised
Network 317 is being initialised
Network 318 is being initialised
Network 319 is being initialised
Network 320 is being initialised
Network 321 is being initialised
Network 322 is being initialised
Network 323 is being initialised
Network 324 is being initialised
Network 325 is being initialised
Network 326 is being initialised
Network 327 is being initialised
Network 328 is being initialised
Network 329 is being initialised
Network 330 is being initialised
Network 331 is being initialised
Network 332 is being initialised
Network 333 is being initialised
Network 334 is being initialised
Network 335 is being initialised
Network 336 is being initialised
Network 337 is being initialised
Network 338 is being initialised
Network 339 is being initialised
Network 340 is being initialised
Network 341 is being initialised
Network 342 is being initialised
Network 343 is being initialised
Network 344 is being initialised
Network 345 is being initialised
Network 346 is being initialised
Network 347 is being initialised

**Calculating Bayesian Lift and Bayesian Confidence**

In [16]:
#This function is used to retrive P(Xi|Par(Xi)) 
#from the CPD table of Xi
def getval(tabcpd):
  k = 0
  try:
    k = tabcpd.values[-1][-1][-1][-1]
  except:
    try:
      k = tabcpd.values[-1][-1][-1]
    except:
      try:
        k = tabcpd.values[-1][-1]
      except:
        k = tabcpd.values[-1]
  
  return k

In [17]:
bc = [0]*(len(networks)) #array to store bayesian confidence vals
bl = [0]*(len(networks)) #array to store bayesian lift values

for i in range(len(atob)):
  rule = atob[i]
  bay_net = networks[i]

  L = len(bay_net.nodes())
  all_cpds = bay_net.get_cpds()

  cpdprod = 1
  for cptab in all_cpds:
    cpdprod *= getval(cptab)

  bcval = pow(cpdprod/ant_supports[i], L)
  bc[i] = bcval
  bl[i] = bcval/con_supports[i]

print(bc)
print(bl)

[1.0, 0.21352988429499498, 0.19296714393566475, 0.005323128895677053, 0.004225671340494538, 0.0006734002771636011, 0.0004949693065966533, 0.9298469387755101, 0.9245562130177513, 0.9216, 0.9216, 0.9184027777777779, 0.9149338374291116, 0.9111570247933886, 0.6532806695693077, 0.9070294784580498, 0.8948137326515703, 0.87890625, 0.8751300728407907, 0.8573388203017831, 0.8573388203017831, 0.8573388203017831, 0.01887893223038244, 0.016068415308874626, 0.014608586440023327, 0.8444119795471148, 0.0001650333152749078, 0.8264462809917354, 0.8264462809917354, 0.8264462809917354, 0.024627648541428897, 0.0011413049267287034, 0.803804994054697, 0.001590226555839128, 0.7971938775510204, 0.7901234567901234, 0.7901234567901234, 0.7825443786982248, 0.7825443786982248, 0.7760770975056689, 0.7744, 2.754630588772672e-08, 0.7722681359044995, 0.7715485756026297, 0.765625, 0.765625, 0.7625471136679232, 0.47678197297539565, 0.7561436672967864, 0.7541551246537397, 0.0015314562740429882, 0.0014137056176027746, 0.7256515775034293, 0.4180678853513507, 7.8189292573155e-05, 0.7159763313609467, 0.709141274238227, 0.709141274238227, 0.7055999999999999, 0.00636394913716618, 0.701972242512783, 0.7001249479383591, 0.7001249479383591, 0.6944444444444445, 0.6944444444444445, 0.6944444444444445, 0.001709880033973458, 0.009971043539056174, 0.0013549344980716969, 0.683801775147929, 0.6806249999999999, 0.012594469683250604, 0.003224890559920873, 0.0025600221002267773, 0.3226348874146533, 1.3654096002836297e-07, 0.6655124653739611, 0.0015848183396136174, 0.6523668639053255, 0.011161097969177039, 0.0008123583035776235, 0.649587881488082, 0.005948208261280134, 0.6457270408163266, 0.6400000000000001, 0.5243865661439998, 0.6400000000000001, 0.006644672, 0.00043056471613202557, 0.00031647791991786976, 0.00012352973848402444, 0.6400000000000001, 3.520174868000844e-05, 0.6173469387755102, 0.6173469387755102, 0.36682730347362846, 0.6143170197224251, 0.6103515625000002, 0.6091612135633552, 0.452984832, 0.6049382716049383, 0.6049382716049383, 0.6049382716049383, 4.0153972919708075e-06, 0.6014160766347355, 0.00804707244984389, 0.591715976331361, 0.591715976331361, 0.3582998943913747, 0.3582998943913747, 0.5866908103214123, 0.2583195508928546, 0.582409972299169, 0.21603544319286586, 0.5764746227709191, 0.0001025132601528502, 8.280548599632198e-05, 0.45636411578908925, 0.2071762110330034, 0.08827631127884865, 0.27428200461917424, 0.4341448446212663, 0.5486968449931412, 0.3555701716878253, 0.30545945991891116, 0.26327307065857675, 0.525625, 0.525625, 0.41397039235604377, 0.0009112561239005213, 0.2854572825651459, 0.5166015625, 0.5154503616042078, 0.26772052754401243, 5.04485686446876e-05, 0.3736116417703365, 0.09865464422439915, 0.21573022484384752, 0.28318401231376183, 0.006898097970766114, 0.08745506178579375, 8.910751522253224e-05, 0.30346444800000005, 0.003257884164142161, 0.24131120898501188, 0.2552925720214844, 0.42009602194787377, 0.07567042267173242, 0.20730307949918814, 0.17320563791401836, 0.0007681341889626573, 0.0003442202318000133, 0.25737435954064064, 0.25737435954064053, 0.291094656684716, 0.03940057343971973, 0.14522053735351564, 0.1574804321691811, 0.05732098297367654, 0.3744709289374025, 0.2512412295261957, 0.19539310390024098, 0.2532949624229219, 0.19539310390024098, 0.36730945821854916, 0.36730945821854916, 0.2552925720214844, 0.0007600410152477763, 0.3564268211182891, 0.3543083900226757, 0.13259701465742352, 0.09897172133544606, 0.15347031623174007, 0.19798943509069516, 0.19798943509069516, 0.08544592724725342, 0.32653061224489793, 0.12164975202281293, 0.17103071814334952, 0.30602082390221824, 0.16219972280722889, 0.04474415024814608, 0.14418811220487635, 0.2953686200378072, 0.2921840759678598, 0.1521529740056568, 0.15757202469323967, 0.282933454051607, 0.282933454051607, 0.2815493544356518, 0.28122130394857664, 0.0006083053066263348, 0.09864543547783233, 0.27126736111111116, 0.0002026910243583353, 0.1153395013589296, 0.07263362184702277, 0.2603082049146189, 0.11917719082450233, 0.10943232217430131, 0.08255880574573239, 0.15107769196248644, 0.08521363608926236, 0.11997314216525051, 0.11140698914084285, 0.08751754648313943, 0.08881384041188661, 0.11641532182693486, 0.2287334593572779, 0.21910366681756452, 0.03548243173453495, 0.10554872947059477, 0.2084120982986767, 0.2015826738858809, 0.06763015467728205, 0.07607472631090625, 0.19963784517881392, 0.1992984693877551, 0.10121025067018136, 0.073311106456612, 0.0719285037697852, 0.1877777777777778, 0.1877777777777778, 0.08702587602639832, 0.18367346938775508, 0.18367346938775508, 0.1810774105930285, 0.06763015467728205, 0.0633288901471651, 0.04616676091728338, 0.0331986553512424, 0.07780278014332348, 0.16259105098855356, 0.04876213673332337, 0.04166162962962963, 0.03414256762451604, 0.02828346029905395, 0.015813440278448297, 0.15123456790123457, 0.05035299371734232, 0.053672752738701014, 0.1371742112482853, 0.1371742112482853, 0.1371742112482853, 0.13444444444444442, 0.0037672836548384627, 0.12755102040816327, 0.12755102040816327, 0.04166162962962963, 0.12249999999999998, 0.12144168962350782, 0.027080669398739553, 0.11472424557752339, 0.026157025542041263, 0.025239703703703705, 0.1111111111111111, 0.1040582726326743, 0.1040582726326743, 0.022595422128963417, 0.00636351233765576, 0.1012396694214876, 0.007517142776437191, 0.016120939475521033, 0.09824014257072845, 0.09182736455463729, 0.018884711495310805, 0.09182736455463729, 0.017229904106700982, 0.08748264233287045, 0.08748264233287045, 0.08053323593864134, 0.0148838389864602, 0.07934933544931562, 0.04694444444444445, 0.04271111111111111, 0.037377777777777774, 0.037377777777777774, 0.0324, 0.0256, 0.023511111111111108, 0.0225, 0.0225, 0.0225, 0.0225, 0.020544444444444445, 0.019600000000000003, 0.018677777777777776, 0.018677777777777776, 0.017777777777777778, 9.892221629629628e-06, 0.016044444444444448, 0.015211111111111113, 0.0144, 0.013611111111111112, 0.013611111111111112, 0.01284444444444444, 0.0121, 0.0121, 4.2144191999999993e-05, 1.0615765914951988e-05, 8.080266962962967e-06, 1.9682999999999998e-05, 0.011377777777777782, 0.011377777777777782, 8.962873233144864e-11, 0.011377777777777782, 0.010000000000000002, 2.4389000000000003e-05, 1.9375416296296286e-06, 0.008711111111111112, 0.0081, 0.007511111111111114, 2.311603566529493e-06, 0.0069444444444444415, 0.0069444444444444415, 0.0069444444444444415, 0.0069444444444444415, 0.0069444444444444415, 0.0064, 1.0455570962962962e-05, 0.0064, 2.113578703703704e-06, 0.005877777777777777, 1.1390624999999999e-05, 1.3556938458161867e-05, 0.005877777777777777, 0.005877777777777777, 0.005377777777777778, 0.005377777777777778, 4.4749537225438214e-12, 0.005377777777777778, 0.005377777777777778, 0.005377777777777778, 5.147884799999999e-05, 0.004900000000000001, 4.095999999999998e-06, 0.004900000000000001, 7.0778879999999984e-06, 0.004900000000000001, 0.004900000000000001, 0.004900000000000001, 7.424753025599999e-10, 6.378690361591219e-05, 0.0044444444444444444, 0.0044444444444444444, 0.0044444444444444444, 9.709037037037037e-06, 4.410943999999998e-06]
[1.3066666666666666, 0.2790123821454601, 0.25214373474260193, 0.041733330542108094, 0.030675243805071466, 0.005279458172962633, 0.003593110521960891, 1.2149999999999999, 1.2080867850098618, 6.690133333333334, 1.204224, 1.2000462962962966, 1.1955135475740393, 1.1905785123966945, 4.742333749466086, 1.1851851851851851, 1.1692232773313853, 1.1484375, 1.1435032951786333, 12.002743484224965, 1.1202560585276633, 1.1202560585276633, 0.024668471447699722, 0.020996062670262845, 0.019088552948297147, 1.10336498660823, 0.0017484610699395639, 12.958677685950411, 1.0798898071625345, 1.0798898071625345, 0.03218012742746709, 0.0014913051042588393, 1.0503051922314708, 0.002077896032963127, 11.574074074074076, 6.194567901234567, 1.0324279835390946, 1.0225246548323472, 1.0225246548323472, 1.0140740740740741, 1.0118826666666667, 3.599383969329625e-08, 1.0090970309152127, 1.0081568054541028, 1.0004166666666667, 1.0004166666666667, 0.9963948951927529, 3.737970668127102, 0.9880277252678009, 0.9854293628808866, 0.016225158362833822, 0.014583489528954939, 0.9481847279378144, 4.429259758317013, 0.0008065842812809674, 0.9355424063116371, 0.9266112650046167, 0.9266112650046167, 0.9219839999999999, 0.008315560205897143, 7.241397870131867, 0.9148299319727893, 0.9148299319727893, 0.9074074074074076, 0.9074074074074076, 0.9074074074074076, 0.0022342432443919853, 0.013028830224366733, 0.0017704477441470173, 0.8935009861932939, 0.88935, 0.016456773719447457, 0.004213856998296608, 0.0033450955442963226, 3.328233575435371, 1.784135211037276e-07, 7.0508347682862915, 0.01194709209862573, 0.8524260355029587, 0.014583834679724666, 0.00796111137506071, 0.8487948318110938, 0.007772325461406042, 0.8437500000000001, 11.403636363636366, 4.468685520183651, 4.824615384615385, 0.008682371413333334, 0.0040186040172322385, 0.002696942274082716, 0.0009312241824180303, 0.8362666666666668, 0.00034497713706408274, 0.8066666666666666, 0.8066666666666666, 2.7653135184935067, 6.020306793279766, 0.797526041666667, 0.7959706523894508, 4.4392513536, 0.7904526748971195, 0.7904526748971195, 0.7904526748971195, 5.246785794841855e-06, 0.7858503401360545, 0.0470813791095344, 4.6390532544378695, 4.2954196800350655, 2.8090711720283776, 2.600991825952202, 0.7666093254866455, 2.5315315987499747, 5.707617728531856, 2.1171473432900854, 3.372806748152243, 0.0012177332721187055, 0.0009546985444281828, 5.421052526949182, 1.6919390567695278, 0.720923208777264, 2.905906643532873, 4.052018549798485, 4.136330062255987, 4.0995149206361035, 1.7871657953464652, 2.580076092454052, 5.568783783783784, 5.422236842105264, 3.31176313884835, 0.0053315283667015574, 2.79748136913843, 3.0683001893939394, 4.123602892833662, 2.0182008999471703, 0.0005650239688205011, 4.184450387827769, 0.9668155133991116, 2.22542758259969, 3.8278666492067117, 0.050075081565561425, 1.1821511800010742, 0.0008123289759821544, 2.7664665957209307, 0.019349857459753442, 3.261861859383609, 2.943373183306526, 2.495115766720705, 1.022855368528245, 1.231254653995178, 2.0574730321907637, 0.0055760852235807725, 0.0020444595585697757, 2.4021606890459792, 2.193277150868067, 3.2602601548688193, 0.49822660607645586, 1.8363371175025203, 0.9956827324244998, 0.5617456331420301, 2.7183815582122555, 2.2903851621922957, 1.418409198683231, 1.838733801292322, 1.1605166171044616, 3.0635171834398145, 2.1490344421144965, 3.0325663100733906, 0.005517334777354228, 2.116959301187414, 2.240143369175627, 2.1657512394045844, 1.1756640837422683, 1.002672732714035, 1.6872143164250544, 1.293530975925875, 1.2882616723432052, 3.282051282051282, 0.7117418327304876, 1.3682457451467962, 1.9993360494944925, 1.6303151625752237, 0.6264181034740453, 0.9745127583501988, 2.463499979889796, 1.8473573835387262, 1.5695780476373018, 1.0649695462025854, 2.411085086700651, 2.263467632412856, 1.8394557823129252, 2.041458354589668, 0.005299015115500517, 0.8227449086661761, 1.8988715277777781, 0.0013699117508356455, 0.9419392610979251, 0.5084353529291594, 2.1710811984368217, 1.167936470080123, 0.8754585773944105, 0.5993157750430944, 1.0967121342461978, 0.5567290891165141, 1.0450993717506267, 0.7529575817794896, 0.7147266296123054, 0.740745222158714, 1.0141068034701881, 1.494391934467549, 1.7528293345405161, 0.3477278309984425, 1.1493083875686985, 1.6672967863894137, 1.6812852800694746, 0.662775515837364, 0.6212769315390677, 1.4492228761128716, 1.6276041666666667, 0.8816537391713576, 0.6114458240636576, 0.5874161141199125, 1.566146572104019, 1.5022222222222223, 1.1763497724947634, 1.5652173913043477, 1.2, 2.150980150074763, 0.6466102593535259, 0.5396722812541026, 0.40216378399055747, 0.3174115340899273, 0.8471858282273, 1.5175164758931667, 0.5461359314132217, 0.39832582475158085, 0.31866396449548307, 0.3359732253705803, 0.17711053111862093, 1.2613606514315736, 0.27800526108729845, 0.5686410560424541, 0.9602194787379972, 0.8672950130536747, 0.8147316789292097, 1.1457004830917872, 0.036018907138943346, 0.925925925925926, 0.8333333333333334, 0.4536488559670782, 0.9799999999999999, 1.487660697887971, 0.14951580851135077, 0.6813924888846844, 0.15303811958925634, 0.2473490962962963, 0.7777777777777778, 1.1024552127569818, 0.7553859791112654, 0.13420311325081302, 0.07559081322306237, 0.6400959744068248, 0.10161103339184065, 0.10192593990974588, 0.5423962801088106, 0.6665986463966264, 0.11940011138970702, 0.5069905197946172, 0.12507634092271824, 0.5118387432012719, 0.4634215647903408, 0.4446342040555972, 0.10059422211538618, 0.4712869620626019, 0.2486786786786787, 0.23581345852895147, 0.23632401433691752, 0.22200134680134678, 0.18956417910447762, 0.16725333333333334, 0.17067325102880657, 0.18375, 0.16333333333333333, 0.16333333333333333, 0.1575, 0.15487350427350427, 0.15366400000000002, 0.1494222222222222, 0.1494222222222222, 0.1514975845410628, 8.07864766419753e-05, 0.12835555555555558, 0.14197037037037039, 0.12010212765957447, 0.1442042042042042, 0.1333888888888889, 0.13608168168168164, 0.12482105263157894, 0.11857999999999999, 0.0004130130815999999, 0.00010403450596652948, 7.918661623703708e-05, 0.00018818868292682923, 0.11737076023391818, 0.11737076023391818, 9.008836685622531e-10, 0.1087826558265583, 0.13066666666666668, 0.00027315680000000004, 2.450052641338111e-05, 0.10671111111111113, 0.1134, 0.10152950191570885, 3.124650338205384e-05, 0.10470085470085465, 0.10082304526748968, 0.10082304526748968, 0.0907407407407407, 0.08506944444444442, 0.100352, 0.00015763783913390312, 0.09291851851851853, 2.8569753512132824e-05, 0.09600370370370369, 0.00017860499999999997, 0.00021257279502397808, 0.0886188034188034, 0.0886188034188034, 0.091656038647343, 0.08432355555555555, 7.016727436948712e-11, 0.08108034188034188, 0.0752888888888889, 0.0752888888888889, 0.0009609384959999999, 0.08730909090909092, 6.422527999999997e-05, 0.07387692307692308, 0.00010671277292307689, 0.07114074074074075, 0.07114074074074075, 0.07114074074074075, 1.0779641429759999e-08, 0.0012502233108718788, 0.08296296296296296, 0.07919191919191919, 0.07919191919191919, 0.0001729973872053872, 6.916360191999997e-05]

**Sorting the rules based on highest BC and BL**

In [18]:
#First sorted by BC and then by BL:

answer = []
for i in range(len(atob)):
  answer.append([bc[i],bl[i],atob[i][0], atob[i][1]])

answer.sort(reverse = True)
ans_table = pd.DataFrame(answer,columns=["Bayesian Confidence","Bayesian Lift","A->","B"])
ans_table

,Bayesian Confidence,Bayesian Lift,A->,B
0,1.000000e+00,1.306667e+00,[JUMBO BAG WOODLAND ANIMALS],[POSTAGE]
1,9.298469e-01,1.215000e+00,[RED RETROSPOT PICNIC BAG],[POSTAGE]
2,9.245562e-01,1.208087e+00,[SET OF 9 BLACK SKULL BALLOONS],[POSTAGE]
3,9.216000e-01,6.690133e+00,[SET/6 RED SPOTTY PAPER PLATES],[SET/6 RED SPOTTY PAPER CUPS]
4,9.216000e-01,1.204224e+00,[PACK OF 6 SKULL PAPER CUPS],[POSTAGE]
...,...,...,...,...
343,1.365410e-07,1.784135e-07,"[SET/6 RED SPOTTY PAPER PLATES, SET/6 RED SPOT...",[POSTAGE]
344,2.754631e-08,3.599384e-08,"[ALARM CLOCK BAKELIKE PINK, ALARM CLOCK BAKELI...",[POSTAGE]
345,7.424753e-10,1.077964e-08,[POSTAGE],"[PLASTERS IN TIN WOODLAND ANIMALS, PLASTERS IN..."
346,8.962873e-11,9.008837e-10,[POSTAGE],"[SET/6 RED SPOTTY PAPER PLATES, SET/6 RED SPOT..."
347,4.474954e-12,7.016727e-11,[POSTAGE],"[ALARM CLOCK BAKELIKE PINK, ALARM CLOCK BAKELI..."

In [19]:
answer2 = []
for i in range(len(atob)):
  answer2.append((bl[i],bc[i],atob[i][0],atob[i][1]))

answer2.sort(reverse = True)

ans_table2 = pd.DataFrame(answer2,columns=["Bayesian Lift","Bayesian Confidence","A  ->","B"])
ans_table2

,Bayesian Lift,Bayesian Confidence,A ->,B
0,1.295868e+01,8.264463e-01,[PACK OF 6 SKULL PAPER PLATES],[PACK OF 6 SKULL PAPER CUPS]
1,1.200274e+01,8.573388e-01,[CHILDRENS CUTLERY SPACEBOY],[CHILDRENS CUTLERY DOLLY GIRL]
2,1.157407e+01,7.971939e-01,[CHILDRENS CUTLERY DOLLY GIRL],[CHILDRENS CUTLERY SPACEBOY]
3,1.140364e+01,6.400000e-01,[PACK OF 6 SKULL PAPER CUPS],[PACK OF 6 SKULL PAPER PLATES]
4,7.241398e+00,7.019722e-01,[ALARM CLOCK BAKELIKE RED],[ALARM CLOCK BAKELIKE GREEN]
...,...,...,...,...
343,1.784135e-07,1.365410e-07,"[SET/6 RED SPOTTY PAPER PLATES, SET/6 RED SPOT...",[POSTAGE]
344,3.599384e-08,2.754631e-08,"[ALARM CLOCK BAKELIKE PINK, ALARM CLOCK BAKELI...",[POSTAGE]
345,1.077964e-08,7.424753e-10,[POSTAGE],"[PLASTERS IN TIN WOODLAND ANIMALS, PLASTERS IN..."
346,9.008837e-10,8.962873e-11,[POSTAGE],"[SET/6 RED SPOTTY PAPER PLATES, SET/6 RED SPOT..."
347,7.016727e-11,4.474954e-12,[POSTAGE],"[ALARM CLOCK BAKELIKE PINK, ALARM CLOCK BAKELI..."

**Observation**

We see that the rules with high confidence, lift and support from our apriori algorithm also have high Bayesian confidence and Bayesian Lift. 

We also see that our top rule in Table 2 says that Buying paper plates (skull) implies byuying paper cups (skull). This is a very real life situation that comes up purely through our data analysis and association rule formation. This shows that our algorithms, Bayesian networks, confidence and lift work well!

**Thank you!**